/* Main.css 
	All of our CSS will be in this file for this project.
*/

/* 
	We'll be making this a responsive app here by hand instead of using bootstrap,
	so we can see better how it works..
*/

html {
	font-size:16px;
	font-family: 'Raleway',sans-serif,helvetica,Arial;
	position:relative;
}

table, thead, tbody, th, td, tr { 
	display: block; 
}


#search {
	max-width:500px;
	min-width:320px;
	width:100%;
	margin: 0 auto;
	text-align:center;
}

#search form.movie-search input {
	width:275px;
	padding:1em;
	text-align:center;
	outline:none;
	margin: 0 auto 1.5em auto;
	font-family: 'Raleway',sans-serif,helvetica,Arial;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#search input.movie-title {
}

#search input.submit,button.close-modal {
	padding:1em;
	display:block;
    background-color: #3b99fc;
    border:none;
    color: #fff;
    box-shadow: inset 1px 2px 0px #88bdf5;
    cursor: pointer;
}

button.close-modal {
	margin: 0 auto;
	width:25%;
}

#results {
	width:90%;
	margin:0 auto;
	text-align:center;
}

#results .movie-list .star {
	width:15px;
	height:15px;
	background-image:url('/img/star.png');
	background-size: 15px 30px;
	background-position: 0px 0px;
	float:left;
	/*position:absolute;
	top:0em;
	left:0;*/
	cursor:pointer;
}

#results .movie-list .star:hover {
	background-position: 0px 15px;
}

#results .movie-list .star.favorited {
	background-position: 0px 15px;
}

#results .movie-list .star.favorited:hover {
	background-position: 0px 0px!important;
}


#results .movie-list ul {
}

#results .movie-list ul li {
	display: inline-block;
	width:30%;
	position:relative;
}

#results .movie-list img {
	max-width:50%;
}

div#modalbackground {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,.4);
}

#movieinfomodal {
	background-color: #fff;
    width: 80%;
    position: fixed;
    top: 5%;
    left: 5%;
    margin: 0 auto;
    padding:1em;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
    text-align:center;
}


#movieinfomodal table.movie-info {
	width:90%;
  	border-collapse: collapse; 
  	margin: 0 auto;
}

#movieinfomodal table.movie-info img {
	max-width:16%;
}

#movieinfomodal table.movie-info tr:nth-of-type(odd) { 
  background: #eee; 
}

#movieinfomodal table tr {
	padding:.5em;
}

#movieinfomodal table tr td:first-child {
	font-size:1.2em;
	font-weight:bold;
}

#movieinfomodal .footer {
	padding:1em;
}

#favorites {
	position:fixed;
	bottom:0;
	right:0;
	background-color:#3b99fc;
	color:#fff;
	width:300px;
	padding:1em 0 1em 0;
	cursor:pointer;
	-webkit-border-top-left-radius:10px;
	-moz-border-top-left-radius:10px;
	border-top-left-radius:10px;
	font-family: 'Raleway',sans-serif,helvetica,Arial;
	text-align:center;
}

div#favorites .inner {
	margin-top:.5em;
	width:100%;
	background-color:#fff;
	color:#000;
	height:300px;
	border-left: 4px solid #3b99fc;
	display:none;
	max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
}

div#favorites .inner ul.favorite-list {
	padding:5px;
}

div#favorites .inner ul li {
	list-style:none;
	padding: .5em 0 .5em 0;
}

div#favorites .inner ul li:not(:last-child) {
	border-bottom: 1px solid #d9d9d9;
}

div#favorites .inner ul li:hover {
	background-color:#d9d9d9;
}

@media(max-width:768px){
	#movieinfomodal table.movie-info img {
		max-width:30%;
	}

	#results .movie-list ul li {
		width:45%;
	}

}

@media(max-width:450px){
	#movieinfomodal table.movie-info img {
		max-width:50%;
	}

	#results .movie-list ul li {
		width:90%;
	}

	#favorites {
		width:100%;
		-webkit-border-top-left-radius:10;
		-moz-border-top-left-radius:10;
		border-top-left-radius:0;
	}
}



