<!-- Here is our jade template, which contains all of the initial HTML necessary to run the app.-->

doctype html
html.modal-lock(lang="en")
	head
		title="Easy Movie Searcher"

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/animate.css")

		script(src="js/helpers.js")
		script(src="js/main.js")
	body

		div#search
			h1 Easy Movie Searcher

			form.movie-search(action="http://www.omdbapi.com" method="GET")
				input.movie-title(type="text" name="t" placeholder="Enter Movie Title Here")
				input.submit.animated(type="submit" value="Find Movie")
			input#filter-search(type="checkbox" name="filtersearch") 
			span Filter Search

		div#results
			span.movie-list

		div#modalbackground(style="display:none;")
		div#movieinfomodal(style="display:none;")
			div.info
				table.movie-info
			div.footer
				button.close-modal Close

		div#favorites Favorites
			div.inner(style="display:none")
				ul.favorite-list
